
bin/ZERO_CHECK.vcxproj.filters
bin/ZERO_CHECK.vcxproj
bin/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
bin/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
bin/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
bin/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
bin/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
bin/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
bin/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
bin/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
bin/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
bin/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
bin/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
bin/x64/Debug/ALL_BUILD/ALL_BUILD.log
bin/source/INSTALL.vcxproj.filters
bin/source/INSTALL.vcxproj
bin/source/cpp/NN.vcxproj.user
bin/source/cpp/NN.vcxproj.filters
bin/source/cpp/NN.vcxproj
bin/source/cpp/NN.dir/Debug/vc143.pdb
bin/source/cpp/NN.dir/Debug/OutputLayer.obj
bin/source/cpp/NN.dir/Debug/NN.tlog/NN.lastbuildstate
bin/source/cpp/NN.dir/Debug/NN.tlog/link.write.1.tlog
bin/source/cpp/NN.dir/Debug/NN.tlog/link.read.1.tlog
bin/source/cpp/NN.dir/Debug/NN.tlog/link.command.1.tlog
bin/source/cpp/NN.dir/Debug/NN.tlog/CustomBuild.write.1.tlog
bin/source/cpp/NN.dir/Debug/NN.tlog/CustomBuild.read.1.tlog
bin/source/cpp/NN.dir/Debug/NN.tlog/CustomBuild.command.1.tlog
bin/source/cpp/NN.dir/Debug/NN.tlog/CL.write.1.tlog
bin/source/cpp/NN.dir/Debug/NN.tlog/CL.read.1.tlog
bin/source/cpp/NN.dir/Debug/NN.tlog/CL.command.1.tlog
bin/source/cpp/NN.dir/Debug/NN.log
bin/source/cpp/NN.dir/Debug/NN.ilk
bin/source/cpp/NN.dir/Debug/NN.exe.recipe
bin/source/cpp/NN.dir/Debug/Model.obj
bin/source/cpp/NN.dir/Debug/Main.obj
bin/source/cpp/NN.dir/Debug/Layer.obj
bin/source/cpp/NN.dir/Debug/InputLayer.obj
bin/source/cpp/NN.dir/Debug/HiddenLayer.obj
bin/source/cpp/INSTALL.vcxproj.filters
bin/source/cpp/INSTALL.vcxproj
bin/source/cpp/Debug/NN.pdb
bin/source/cpp/Debug/NN.exe
bin/source/cpp/CMakeFiles/generate.stamp.depend
bin/source/cpp/CMakeFiles/generate.stamp
bin/source/cpp/cmake_install.cmake
bin/source/CMakeFiles/generate.stamp.depend
bin/source/CMakeFiles/generate.stamp
bin/source/cmake_install.cmake
bin/NeuralNetwork.sln
bin/INSTALL.vcxproj.filters
bin/INSTALL.vcxproj
bin/CMakeFiles/TargetDirectories.txt
bin/CMakeFiles/generate.stamp.list
bin/CMakeFiles/generate.stamp.depend
bin/CMakeFiles/generate.stamp
bin/CMakeFiles/fa4dca7c4b780ce02a1b7383cc6ddd00/INSTALL_force.rule
bin/CMakeFiles/f1c1a8591206f39ded64a6577a196979/INSTALL_force.rule
bin/CMakeFiles/f1c1a8591206f39ded64a6577a196979/generate.stamp.rule
bin/CMakeFiles/CMakeOutput.log
bin/CMakeFiles/cmake.check_cache
bin/CMakeFiles/7455c94e743919450052d368a89ad575/INSTALL_force.rule
bin/CMakeFiles/3.21.3/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
bin/CMakeFiles/3.21.3/x64/Debug/VCTargetsPath.recipe
bin/CMakeFiles/3.21.3/VCTargetsPath.vcxproj
bin/CMakeFiles/3.21.3/VCTargetsPath.txt
bin/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
bin/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
bin/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
bin/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
bin/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
bin/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
bin/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
bin/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
bin/CMakeFiles/3.21.3/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
bin/CMakeFiles/3.21.3/CompilerIdCXX/CompilerIdCXX.vcxproj
bin/CMakeFiles/3.21.3/CompilerIdCXX/CompilerIdCXX.exe
bin/CMakeFiles/3.21.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
bin/CMakeFiles/3.21.3/CMakeSystem.cmake
bin/CMakeFiles/3.21.3/CMakeRCCompiler.cmake
bin/CMakeFiles/3.21.3/CMakeDetermineCompilerABI_CXX.bin
bin/CMakeFiles/3.21.3/CMakeCXXCompiler.cmake
bin/CMakeCache.txt
bin/cmake_install.cmake
bin/ALL_BUILD.vcxproj.filters
bin/ALL_BUILD.vcxproj
bin/.vs/NeuralNetwork/v17/Solution.VC.db-wal
bin/.vs/NeuralNetwork/v17/Solution.VC.db-shm
bin/.vs/NeuralNetwork/v17/Solution.VC.db
bin/.vs/NeuralNetwork/v17/ipch/AutoPCH/d7d7b522fe3aed63/MAIN.ipch
bin/.vs/NeuralNetwork/v17/Browse.VC.opendb
bin/.vs/NeuralNetwork/v17/Browse.VC.db-wal
bin/.vs/NeuralNetwork/v17/Browse.VC.db-shm
bin/.vs/NeuralNetwork/v17/Browse.VC.db
bin/.vs/NeuralNetwork/v17/.suo
